<div>
  <md-content class="md-padding carddemoBasicUsage" layout-xs="column" layout="row">
   <md-card flex layout-align="center center">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><h1>{{title}}</h1></span>
        <span class="md-subhead"></span>
      </md-card-title-text>
    </md-card-title>
       <md-card-actions layout="column">

        <md-button class="md-raised" rel="activity-button" >Activities</md-button>
        <md-button class="md-raised" rel="points-button">Points</md-button>
        <md-button class="md-raised" rel="log-button">Activity Log</md-button>

       </md-card-actions>
    </md-card-content>
   </md-card>
  </md-content>
</div>
