<div>
  <md-content class="md-padding carddemoBasicUsage" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
         <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><h1>Play Outside</h1></span>
            <span class="md-subhead"></span>
          </md-card-title-text>
        </md-card-title>
           <md-card-actions layout="column">
             <div>
            <md-button class="md-raised">Activities</md-button>
            <md-button class="md-raised">Points</md-button>
            <md-button class="md-raised">Activity Log</md-button>
             </div>
           </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
