.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

h1 {
  text-align: center;
}

.carddemoBasicUsage .card-media {
  background-color: #777777; }

.md-button.md-raised {
  background-color: #006699;
  color: white;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: #660000;
  color: white;
}
.md-button.md-raised[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}
