<div>
  <md-toolbar>
    <div class = "md-toolbar-tools">
      <md-button aria-label = "Home" ng-click = "goTo('home')"
                 rel="home-button">Home</md-button>
      <h1>
        <span rel="title">Activity History</span>
      </h1>
      <span flex = ""></span>
      <h1>
        <span rel="total-points-title">Total Points: </span>
        <span style="color: yellow;"rel="total-points">{{totalPoints}}</span>
      </h1>
    </div>
  </md-toolbar>

  <table style="width:100%">
    <thead>
        <th rel='date' style="width:33%"><h1>Date/Time Completed</h1></th>
        <th rel='activity' style="width:33%"><h1>Activity</h1></th>
        <th rel='points' style="width:33%"><h1>Points</h1></th>
    </thead>
    <tbody>
    <tr class = "hoverBoard" ng-repeat="activity in log">
      <td rel="log-date" style="text-align: center;width:33%"><h2>{{activity.date}}</h2></td>
      <td rel="log-activity" style="text-align: center;width:33%"><h2>{{activity.activity}}</h2></td>
      <td rel="log-points" style="text-align: center;width:33%"><h2>{{activity.points}}</h2></td>
    </tr>
    </tbody>
  </table>
</div>
