<div>
  <md-toolbar>
    <div class = "md-toolbar-tools">
      <md-button aria-label = "Home" ng-click = "goToHome()"
                 rel="home-button">
        Home
      </md-button>
      <h1>
        <span rel="title">Activity List</span>
      </h1>
      <span flex = ""></span>
      <md-button class = "md-raised"
                 ng-click = "goToActivityDetails()"
                 aria-label = "Current Activity"
                 rel="current-button" ng-disabled="myActivity.isNotActive()">
        Current Activity
      </md-button>
      <md-button class = "md-icon-button"
                 aria-label = "Points"
                 ng-click = "goToPoints()"
                 rel="points-button">
        <i class = "material-icons" style = "color: gold;">attach_money</i>
      </md-button>
    </div>
  </md-toolbar>

  <md-list>
    <md-list-item class="" layout-align="center">
      <p><h1>Activity</h1></p>
      <p><h1>Points</h1></p>
    </md-list-item>

    <md-list-item class="secondary-button-padding" ng-click = "goToActivityDetails('1')"
                  layout-align="center">
      <p><h2>{{sampleActivity1.name}}</h2></p>
      <p><h2>{{sampleActivity1.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails('1')"
                 aria-label = "activity-item" rel="details-button">
      </md-button>
    </md-list-item>

    <md-list-item class="secondary-button-padding" ng-click = "goToActivityDetails('2')"
                  layout-align="center">
      <p><h2>{{sampleActivity2.name}}</h2></p>
      <p><h2>{{sampleActivity2.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails('2')"
                 aria-label = "activity-item" rel="details-button2">
      </md-button>
    </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click = "goToActivityDetails('3')"
                  layout-align="center">
      <p><h2>{{sampleActivity3.name}}</h2></p>
      <p><h2>{{sampleActivity3.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails('3')"
                 aria-label = "activity-item" rel="details-button3">
      </md-button>
    </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click = "goToActivityDetails('4')"
                  layout-align="center">
      <p><h2>{{sampleActivity4.name}}</h2></p>
      <p><h2>{{sampleActivity4.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails('4')"
                 aria-label = "activity-item" rel="details-button4">
      </md-button>
    </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click = "goToActivityDetails('5')"
                  layout-align="center">
      <p><h2>{{sampleActivity5.name}}</h2></p>
      <p><h2>{{sampleActivity5.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails('5')"
                 aria-label = "activity-item" rel="details-button5">
      </md-button>
    </md-list-item>

  </md-list>


  <!--
  <md-list>
    <md-list-item class="" layout-align="center">
      <p><h1>Activity</h1></p>
      <p><h1>Points</h1></p>
    </md-list-item>

    <md-list-item ng-repeat="x in myData" class="secondary-button-padding" ng-click = "goToActivityDetails(x)"
                  layout-align="center">
      <p><h2>{{x.name}}</h2></p>
      <p><h2>{{x.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails(x)"
                 aria-label = "activity-item" rel="details-button">
      </md-button>
    </md-list-item>
  </md-list>
  -->
</div>



