<div>
  <md-toolbar>
    <div class = "md-toolbar-tools">
      <md-button aria-label = "Home" ng-click = "goToHome()"
                 rel="home-button">
        Home
      </md-button>
      <h1>
        <span rel="title">Activity List</span>
      </h1>
      <span flex = ""></span>
      <md-button class = "md-raised"
                 ng-click = "goToActivityDetails()"
                 aria-label = "Current Activity"
                 rel="current-button" ng-disabled="myActivity.isNotActive()">
        Current Activity
      </md-button>
      <md-button class = "md-icon-button"
                 aria-label = "Points"
                 ng-click = "goToPoints()"
                 rel="points-button">
        <i class = "material-icons" style = "color: gold;">attach_money</i>
      </md-button>
    </div>
  </md-toolbar>

  <md-list>
    <md-list-item class="" layout-align="center">
      <p><h1>Activity</h1></p>
      <p><h1>Points</h1></p>
    </md-list-item>

    <md-list-item class="secondary-button-padding" ng-click = "goToActivityDetails()"
                  layout-align="center">
      <p><h2>{{sampleActivity1.name}}</h2></p>
      <p><h2>{{sampleActivity1.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails(1)"
                 aria-label = "activity-item" rel="details-button">
      </md-button>
    </md-list-item>

    <md-list-item class="secondary-button-padding" ng-click = "goToActivityDetails()"
                  layout-align="center">
      <p><h2>{{sampleActivity2.name}}</h2></p>
      <p><h2>{{sampleActivity2.points}}</h2></p>
      <md-button class="md-secondary" ng-click = "goToActivityDetails(2)"
                 aria-label = "activity-item" rel="details-button">
      </md-button>
    </md-list-item>
  </md-list>


  <ul>
    <li ng-repeat="x in myData">
      {{ x.name + ', ' + x.points }}
    </li>
  </ul>

  <script>
    var app = angular.module('activity', []);
    app.controller('activity', function($scope, $http) {
      $http.get("db.json").then(function (response) {
        $scope.myData = response.data.records;
      });
    });
  </script>
</div>



