<div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card layout-align="center center">




        <md-card-title>
          <md-card-title-text>
            <h1 class="md-headline">Activity name</h1>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Description
          </p>
          <p>
            Point Value
          </p>
        </md-card-content>
        <md-card-actions layout="column">
          <md-button class="md-raised md-primary">Start</md-button>
          <md-button disabled="true" class="md-raised">Done</md-button>
          <md-button class="md-raised md-warn">Cancel</md-button>
        </md-card-actions>
      </md-card>
    </div>

  </md-content>
</div>
