<div>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="HOME">
        HOME
      </md-button>
      <h2>
        <span>Points</span>
      </h2>
      <span flex=""></span>
    </div>
  </md-toolbar>

  <i class="material-icons">face</i>

  <md-content>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Current Points</span>
        <span class="md-subhead">TOTAL POINTS:</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"></div>
      </md-card-title-media>
    </md-card-title>
  </md-card>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Last Activity</span>
        <span class="md-subhead">Points Earned:</span>
        <span class="md-subhead">Previous Point Total:</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"></div>
      </md-card-title-media>
    </md-card-title>
  </md-card>
</md-content>
  <h1> </h1>
</div>
